/*=============== ABOUT ===============*/
.about{
    &__container{
        gap: 2.5rem;
    }
    &__data{
        text-align: center;
        p{
            margin-bottom: 20px;
        }
    }
    &__image{
        opacity: 0;
        animation: aboutImageZoomIn 1s ease forwards;
        animation-play-state: paused;
    }
    &__title{
        opacity: 0;
        animation: aboutSlideText 1s ease forwards;
        animation-delay: 1s;
        animation-play-state: paused;
    }
    &__description{
        opacity: 0;
        animation: aboutSlideText 1s ease forwards;
        animation-delay: 1.5s;
        animation-play-state: paused;
    }
    &__ticket{
        position: relative;
        width: 100%;
        left: -200px;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        padding: 30px;
        padding-left: 200px;
        background-color: var(--second-color);
        border-top: 2px solid #fff;

        &::before{
            content: " ";
            position: absolute;
            top: -2px;
            left: 100%;
            width: 50px;
            height: 50px;
            background: linear-gradient(45deg, transparent 0, transparent 50%, var(--body-color) 50.001%);
            transform: translateX(-100%);
        }
    }

    @media screen and (max-width: 600px) {
        &__ticket{
            position: relative;
            width: 100%;
            left: -150px;
            padding-right: 100px;
            flex-direction: column;
            align-items: center;

            img{
                display: none;
            }
        }    

    }


    @keyframes aboutImageZoomIn {
        from{transform: scale(.4); opacity: .3;}
        to{transform: scale(1); opacity: 1;}
    }
    @keyframes aboutSlideText {
        0%{transform: translate(200px, 0); opacity: 0;}
        5%{transform: translate(190px, 0); opacity: 1;}
        100%{transform: translate(0, 0); opacity: 1;}
    }
    @keyframes aboutSlideTicket {
        0%{transform: translate(-200px, 0); opacity: 1;}
        5%{transform: translate(-190px, 0); opacity: 1;}
        100%{transform: translate(0, 0); opacity: 1;}
    }
}


